<!-- HOME SLIDER -->
<div class="slider-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="mainSlider" class="nivoSlider slider-image">
					<img src="assets/img/slider/slider-4.jpg" alt="main slider" title="#htmlcaption1"/>
					<img src="assets/img/slider/slider-5.jpg" alt="main slider" title="#htmlcaption2"/>
				</div>
				<div id="htmlcaption1" class="nivo-html-caption">
					<div class="slider-progress"></div>					
					<div class="slide-text-right slide-text-right-2 text-white slide-text">
						<div class="middle-text text-center">
							<h3 class="cap-sub-title cap-sub-title-2 wow fadeInDown" data-wow-duration=".9s" data-wow-delay="0.8s">Cập nhật xu hướng</h3>
							<h1 class="cap-title cap-title-2 wow flipInX" data-wow-duration=".9s" data-wow-delay="1.5s">Thiết kế tinh tế</h1>
							<h2 class="cap-dec cap-dec-2 wow rotateInUpRight" data-wow-duration="0.9s" data-wow-delay="2.2s">Giá tốt bất ngờ</h2>
						</div>										
					</div>
				</div>
				<div id="htmlcaption2" class="nivo-html-caption">
					<div class="slider-progress"></div>							
					<div class="slide-text-left slide-text-left-2 text-white slide-text">
						<div class="middle-text text-center">
							<h3 class="cap-sub-title cap-sub-title-2 wow fadeInUp" data-wow-duration=".9s" data-wow-delay="0.8s">Bền bỉ</h3>
							<h1 class="cap-title cap-title-2 wow lightSpeedIn" data-wow-duration=".9s" data-wow-delay="1.5s">Chất lượng cao</h1>
							<h2 class="cap-dec cap-dec-2 wow rollIn" data-wow-duration="0.9s" data-wow-delay="2.2s">Tiết kiệm túi tiền</h2>
						</div>	
					</div>						
				</div>
			</div>
		</div>
	</div>
</div>
<!-- HOME SLIDER -->
<!-- Sidebar Product area -->
<div class="sidebar-product margin-top-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-xs-12">
				<div class="row">
					<div class="sin-home-sidebar col-md-12 col-sm-4 col-xs-12">
						<div class="hot-offer-banner">
							<h3>Sản phẩm giảm giá</h3>
							<div class="grid">
								<a >
									<figure class="effect-moses">
										<img alt="img01" src="assets/img/plate/dia_hot_x.jpg">
										<figcaption>
											<h2>Chất lượng</h2>
											<p>Giá tốt</p>
										</figcaption>         
									</figure>
								</a>
							</div>
						</div>
					</div>
					<div class="sin-home-sidebar col-md-12 col-sm-8 col-xs-12">
						<div class="home-sidebar-title fix">
							<h2>Sản phẩm phổ biến</h2>
						</div>
						<div class="propular-sidebar-slider owl-carousel">
							<!-- Single Tab Product -->
							<div class="single-product">
								<div class="pro-image-hover">
									<a  class="pro-image">
										<img class="primary" src="assets/img/cup/bo_chen_dua_Nhat.jpg" alt="" />
									</a>
								</div>
								<div class="pro-bref fix">
									<a class="pro-name">Bộ chén đũa Nhật</a>
									<div class="pro-ratting float-left">
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="single-product">
								<div class="pro-image-hover">
									<a class="pro-image" >
										<img class="primary" src="assets/img/plate/dia_tt_l.jpg" alt="" />
									</a>
								</div>
								<div class="pro-bref fix">
									<a class="pro-name" >Dĩa thủy tinh Lasa</a>
									<div class="pro-ratting float-left">
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="single-product">
								<div class="pro-image-hover">
									<a class="pro-image" >
										<img class="primary" src="assets/img/bowl/to_melamin.jpg" alt="" />
									</a>
								</div>
								<div class="pro-bref fix">
									<a class="pro-name" >Tô Melamin</a>
									<div class="pro-ratting float-left">
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star on"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="sin-home-sidebar col-xs-12">
						<div class="home-sidebar-title fix">
							<h2>Sản phẩm nổi bật</h2>
						</div>
						<div class="feature-sidebar-slider owl-carousel">
							<!-- Single Product -->
							<div class="sin-item">
								<div class="sin-mini-product fix">
									<a  class="pro-image-2 pro-image-3 float-left">
										<img class="primary" src="assets/img/cup/chen_su_van_xoan_.jpg" alt="" />
									</a>
									<div class="pro-bref-2 pro-bref-3 float-left fix">
										<a class="pro-name" >Chén sứ vân xoắn</a>
										<div class="pro-price"><span class="new">Liên hệ</span></div>
										<div class="pro-ratting">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
								</div>
								<div class="sin-mini-product fix">
									<a  class="pro-image-2 pro-image-3 float-left">
										<img class="primary" src="assets/img/plate/dia_su_minh_chau.jpg" alt="" />
									</a>
									<div class="pro-bref-2 pro-bref-3 float-left fix">
										<a class="pro-name" >Dĩa sứ Minh Châu</a>
										<div class="pro-price"><span class="new">Liên hệ</span></div>
										<div class="pro-ratting">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
								</div>
								<div class="sin-mini-product fix">
									<a  class="pro-image-2 pro-image-3 float-left">
										<img class="primary" src="assets/img/plate/dia_dai_m.jpg" alt="" />
									</a>
									<div class="pro-bref-2 pro-bref-3 float-left fix">
										<a class="pro-name" >Dĩa dài Melamin</a>
										<div class="pro-price"><span class="new">Liên hệ</span></div>
										<div class="pro-ratting">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-xs-12">
				<div class="row">
					<!-- Tab Product Area Start -->
					<div class="col-xs-12">
						<!-- Product Tan List -->
						<ul class="pro-tab-list fix">
							<li class="active"><a href="#new-arrivals" data-toggle="tab">HÀNG MỚI</a></li>
							<li><a href="#feature" data-toggle="tab">NỔI BẬT</a></li>
							<li><a href="#best-product" data-toggle="tab">BÁN CHẠY</a></li>
						</ul>
					</div>
					<!-- Tab Product Content Container Start -->
					<div class="tab-content tab-products-container">
						<!-- New Arrivals Tab -->
						<div class="tab-pane active" id="new-arrivals">
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image">
											<img class="primary" src="assets/img/bowl/to_melamin_cao_cap.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name">Tô cao cấp Melamin</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image">
											<img class="primary" src="assets/img/cup/chen_su_van_xoan_.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name">Chén sứ vân xoắn</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image">
											<img class="primary" src="assets/img/plate/dia_tron_melamin.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Dĩa tròn Melamin</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/plate/dia_hot_x.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Dĩa hột xoàng</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/plate/dia_dai_m.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Đĩa dài Melamin</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/cup/chen_ngoc_hoa_sen_xanh.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Chén Hoa Sen Xanh</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
						</div>
						<!-- Feature Tab -->
						<div class="tab-pane" id="feature">
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/cup/chen_thuy_tinh_lasa.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Chén thủy tinh Lasa</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/plate/dia_hot_x.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Dĩa hột xoàng</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/plate/dia_dai_m.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Đĩa dài Melamin</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/cup/chen_ngoc_hoa_sen_xanh.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Chén Hoa Sen Xanh</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/bowl/to_tron_cores.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Tô tròn Cores</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/plate/dia_su_.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Dĩa sứ Masan</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
						</div>
						<!-- Best Product Tab -->
						<div class="tab-pane" id="best-product">
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image">
											<img class="primary" src="assets/img/bowl/to_melamin_cao_cap.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name">Tô cao cấp Melamin</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/plate/dia_su_minh_chau.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Dĩa sứ Minh Châu</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/cup/chen_tt_gl.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Chén thủy tinh GlassRock</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/bowl/to_melamin.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Tô Melamin</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/plate/dia_su_.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Dĩa sứ Masan</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
							<!-- Single Tab Product -->
							<div class="col-sm-4 col-xs-12">
								<div class="single-product">
									<div class="pro-image-hover">
										<a class="pro-image" >
											<img class="primary" src="assets/img/cup/chen_su_van_xoan_.jpg" alt="" />
										</a>
									</div>
									<div class="pro-bref fix">
										<a class="pro-name" >Chén sứ vân xoắn</a>
										<div class="pro-ratting float-left">
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star on"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Tab Product Area End -->
				</div>
				<!-- Collection Banner Start -->
				<div class="row">
					<div class="col-xs-12">
						<!-- Collection Banner Start -->
						<div class="collection-banner collection-banner-2 fix">
							<div class="overlay padding-120">
								<h1>Phân Phối bởi Mathaco Company</h1>
							</div>
						</div><!-- Collection Banner End -->
					</div>
				</div><!-- Collection Banner End -->
				<!-- Blog Area Start -->	
			</div>
		</div>
	</div>
</div>
<!-- Service Area Start -->
<div class="service-area padding-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-truck"></i></div>
					<div class="text fix">
						<h4>Miễn phí giao hàng</h4>
						<p>cho hóa đơn số lượng lớn</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-repeat"></i></div>
					<div class="text fix">
						<h4>Chính sách đổi trả</h4>
						<p>Đổi mới nếu có hư hại trong 30 ngày</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-volume-control-phone"></i></div>
					<div class="text fix">
						<h4>Hỗ trợ</h4>
						<p>Luôn trực tuyến 24/7</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Service Area End -->