
<!-- Page Banner Start -->
<div class="page-banner padding-120 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>About us</h1>
			</div>
		</div>
	</div>
</div><!-- Page Banner End -->
<div class="page-breadcrumb fix">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li><a href="#">Home</a></li>
					<li><span>About us</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- About Page Start -->
<div class="about-page page margin-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="welcome">
					<h2>welcome to <span>zackas</span></h2>
					<h3>EXCLUSIVE STORE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="image">
					<img src="../assets/img/about-us.jpg" alt="" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="welcome">
					<h2>who <span>we are</span></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="our-services fix">
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>Our Mission</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>OVER 15 YEARS EXPERIENCE</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>WHAT WE DO</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>ONLINE ORDERING</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>OUR CLIENTS</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>TAILORING FOR FREE</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labis nisi ut aliquip. uis nostrud exercitation ullamco.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- About Page End -->	
<!-- Brands Area Start -->
<div class="brands-area padding-70 fix">
	<div class="container">
		<div class="row">
			<!-- Brands Area Title -->	
			<div class="col-xs-12">
				<div class="section-title fix">
					<h2>Our Brands</h2>
				</div>
			</div>
			<div class="col-xs-12">
				<!-- Brands Slider -->	
				<div class="brand-slider owl-carousel">
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/1.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/2.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/3.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/4.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/5.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/6.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/7.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/8.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/9.png" alt="" />
					</div>
					<!-- Single Brand -->
					<div class="single-brand">
						<img src="../assets/img/brands/10.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Brands Area End -->
<!-- Service Area Start -->
<div class="service-area padding-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-xs-12">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-truck"></i></div>
					<div class="text fix">
						<h4>FREE SHIPPING</h4>
						<p>on all orders over $90</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-xs-12">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-repeat"></i></div>
					<div class="text fix">
						<h4>RETURN EXCHANGE</h4>
						<p>Return in 30 days use trial</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-xs-12">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-volume-control-phone"></i></div>
					<div class="text fix">
						<h4>ONLINE SUPPORT</h4>
						<p>Alway support customer 24/7</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Service Area End -->
<!-- Subscribe Area Start -->
<div class="subscribe-social">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="footer-subscribe">
					<form action="#" method="post">
						<div class="input-box">
						   <input type="text" placeholder="Your Email" name="email">
						</div>
						<div class="actions">
							<input type="submit" value="Subscribe" />
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="social-footer">
					<ul class="link-follow">
						<li><a class="twitter fa fa-twitter" href="#"></a></li>
						<li><a class="google fa fa-google-plus" href="#"></a></li>
						<li><a class="facebook fa fa-facebook" href="#"></a></li>
						<li><a class="linkedin fa fa-linkedin" href="#"></a></li>
						<li><a class="youtube fa fa-youtube" href="#"></a></li>
						<li><a class="vimeo-square fa fa-vimeo-square" href="#"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Subscribe Area End -->

