
<!-- Page Banner Start -->
<div class="page-banner padding-120 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Thông tin công ty Mathaco</h1>
			</div>
		</div>
	</div>
</div><!-- Page Banner End -->
<!-- About Page Start -->
<div class="about-page page margin-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="welcome">
					<h2>Welcome to <span>Mathaco</span></h2>
					<h3>shop</h3>
					<p>Cung cấp cho bạn những sản phẩm chất lượng, giá cả tốt</p>
					<p>Bao gồm các vật dụng hằng ngày không thể thiếu trong cuộc sống hàng ngày</p>
					<p>Đem đến cho bạn một trải nghiệm mới mẻ, tinh tế</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="image">
					<img src="assets/img/about-us.jpg" alt="" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="welcome">
					<h2>who <span>we are</span></h2>
					<p>Chúng tôi là một công ty chuyên sản xuất, cung cấp các mặt hàng nội thất</p>
					<p>Ba dòng sản phẩm chính là: Chén, Dĩa, Tô</p>
					<p>Cam kết chất lượng, giá cả cạnh tranh cùng với sự tinh tế của sản phẩm giúp tô điểm căn bếp của bạn</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="our-services fix">
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>Our Mission</h3>
						<p>Đem đến sự an tâm, cũng như sự ngon miệng cho gia đình bạn</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>OVER 15 YEARS EXPERIENCE</h3>
						<p>Hơn 15 năm kinh nghiệm trong ngành sản xuất Chén, Dĩa và Tô</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>WHAT WE DO</h3>
						<p>Sản xuất và bán khắp mọi miền đất nước</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="sin-service">
						<h3>ONLINE ORDERING</h3>
						<p>Đặt hàng online, liên hệ trực tiếp để biết thêm chi tiết</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- About Page End -->	
<!-- Service Area Start -->
<div class="service-area padding-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-truck"></i></div>
					<div class="text fix">
						<h4>Miễn phí giao hàng</h4>
						<p>cho hóa đơn số lượng lớn</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-repeat"></i></div>
					<div class="text fix">
						<h4>Chính sách đổi trả</h4>
						<p>Đổi mới nếu có hư hại trong 30 ngày</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-volume-control-phone"></i></div>
					<div class="text fix">
						<h4>Hỗ trợ</h4>
						<p>Luôn trực tuyến 24/7</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Service Area End -->

