
<!-- Page Banner Start -->
<div class="page-banner padding-120 fix">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>CHÉN</h1>
			</div>
		</div>
	</div>
</div><!-- Page Banner End -->
<!-- Shop Page Area Start -->
<div class="shop-page page margin-70 fix">
	<div class="container">
		<div class="row">
			<!-- Shop Tool Bar -->
			<div class="col-xs-12 fix">
				<div class="shpo-tool-bar fix row">
					<div class="showing-pro float-right">
						<span>Showing 1 - 12 of 12 items</span>
					</div>
				</div>
			</div>
			<div class="products-container tab-products-container tab-content float-left fix">
				<div class="tab-pane active" id="pro-grid">
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_tt_gl.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén thủy tinh Glassrock</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_thuy_tinh_lasa.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén thủy tinh Lasa</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_su_van_xoan_.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén sứ vân xoắn</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_ngoc_hoa_sen_xanh.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén Hoa Sen Xanh</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_minh_long.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén Minh Long</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_loa_thanh.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén Loa Thành</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_hiep_thanh.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén Hiệp Thành</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_co_dong_dao.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén cổ Đồng Dao</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/bo_chen_thuy_tinh_l.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Bộ chén thủy tinh Lasa</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/bo_chen_dua_Nhat.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Bộ chén đũa Nhật</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_ma_vang_hoang_long.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén vàng Hoàng Long</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
					<!-- Single Product -->
					<div class="col-sm-4 col-md-3 col-xs-12">
						<div class="single-product">
							<div class="pro-image-hover">
								<a  class="pro-image">
									<img class="primary" src="assets/img/cup/chen_su_hoa_van.jpg" alt="" />
								</a>
							</div>
							<div class="pro-bref fix">
								<a class="pro-name" >Chén sứ hoa văn</a>
								<div class="pro-ratting float-left">
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star on"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="pro-price float-right"><span class="new">Liên hệ</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="paginations text-center">
					<ul>
						<li class="prev" style="cursor: pointer"><a ><i class="fa fa-angle-left"></i></a></li>
						<li class="active" style="cursor: pointer"><span>1</span></li>
						<li class="next" style="cursor: pointer"><a ><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div><!-- Shop page Area End -->	
<!-- Service Area Start -->
<div class="service-area padding-70 fix">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-truck"></i></div>
					<div class="text fix">
						<h4>Miễn phí giao hàng</h4>
						<p>cho hóa đơn số lượng lớn</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-repeat"></i></div>
					<div class="text fix">
						<h4>Chính sách đổi trả</h4>
						<p>Đổi mới nếu có hư hại trong 30 ngày</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
				<!-- Single Service -->
				<div class="single-service">
					<div class="icon"><i class="fa fa-volume-control-phone"></i></div>
					<div class="text fix">
						<h4>Hỗ trợ</h4>
						<p>Luôn trực tuyến 24/7</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Service Area End -->
<!-- Subscribe Area Start -->

