<!-- Header Area Start -->
<div class="header">
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="header-bottom-top col-sm-12">
          <div class="row">
            <div class="col-md-3 col-lg-4 col-xs-12">
              <!-- Header Logo -->
              <div class="logo">
                <a routerLink="/home">
                  <img src="../assets/img/logo.png" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-5 col-xs-12">
              <!-- Header Search and Cart -->
                  <div class="header-social"> 
                    <a href="https://www.facebook.com" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://mail.google.com" target="_blank">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
            </div>
          </div>
        </div>
        <!-- Menu Area Start -->
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <!-- Main Menu Start -->
              <div class="main-menu hidden-sm hidden-xs">
                <nav>
                  <ul>
                    <li routerLink="/home" routerLinkActive="active" style="cursor: pointer">
                      <a>Trang chủ</a>
                    </li>
                    <li routerLink="/shop" routerLinkActive="active" style="cursor: pointer">
                      <a>Cửa hàng</a>
                      <div class="mega-menu">
                        <ul>
                          <li>
                            <a routerLink="/shop" class="text-center">CHÉN</a>
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <a routerLink="/shop" class="text-center">DĨA</a>
                          </li>
                          <li>
                        </ul>
                        <ul>
                          <li>
                            <a routerLink="/shop" class="text-center">BÁT</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li routerLink="/about" routerLinkActive="active" style="cursor: pointer">
                      <a>Về công ty</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Main Menu End -->
              <!-- Mobile Menu Start -->
              <div class="mobile-menu">
                <nav class="hidden">
                  <ul>
                    <li class="active">
                      <a routerLink="/home">HOME</a>
                      <ul class="sub-menu">
                        <li>
                          <a routerLink="/home">HOME 1</a>
                        </li>
                        <li>
                          <a href="index-2.html">HOME 2</a>
                        </li>
                        <li>
                          <a href="index-3.html">HOME 3</a>
                        </li>
                        <li>
                          <a href="index-4.html">HOME 4</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/about">ABOUT US</a>
                    </li>
                    <li>
                      <a routerLink="/shop">SHOP</a>
                      <ul>
                        <li>
                          <a routerLink="/shop">Dresses</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Cocktail</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Day</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sweaters</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Accessories</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Lifestyle</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Bras</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Scarves</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Small Leathers</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Tops</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">T-Shirts</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Shrot Sleeved</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sleeveless</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/shop">MEN</a>
                      <ul>
                        <li>
                          <a routerLink="/shop">Dresses</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Cocktail</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Day</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sweaters</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Accessories</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Lifestyle</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Bras</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Scarves</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Small Leathers</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Tops</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">T-Shirts</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Shrot Sleeved</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sleeveless</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/shop">WOMEN</a>
                      <ul>
                        <li>
                          <a routerLink="/shop">Dresses</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Cocktail</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Day</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sweaters</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Accessories</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Lifestyle</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Bras</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Scarves</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Small Leathers</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Tops</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">T-Shirts</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Shrot Sleeved</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sleeveless</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/shop">KIDS</a>
                    </li>
                    <li class="hot">
                      <a routerLink="/shop">NEW ARRIVAL</a>
                    </li>
                    <!-- <li><a href="blog.html">BLOG</a></li> -->
                    <li>
                      <a routerLink="/contact">CONTACT</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Mobile Menu End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header Area End -->