<!-- Header Area Start -->
<div class="header">
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="header-bottom-top col-sm-12">
          <div class="row">
            <div class="col-md-3 col-lg-4 col-xs-12">
              <!-- Header Logo -->
              <div class="logo">
                <a routerLink="/home">
                  <img src="assets/img/logo.png" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-5 col-xs-12">
              <!-- Header Search and Cart -->
                  <div class="header-social"> 
                    <a href="https://www.facebook.com" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://mail.google.com" target="_blank">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
            </div>
          </div>
        </div>
        <!-- Menu Area Start -->
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <!-- Main Menu Start -->
              <div class="main-menu ">
                <nav>
                  <ul>
                    <li routerLink="/home" routerLinkActive="active" style="cursor: pointer">
                      <a>Trang chủ</a>
                    </li>
                    <li routerLinkActive="active" style="cursor: pointer">
                      <a>Cửa hàng</a>
                      <div class="mega-menu">
                        <ul>
                          <li>
                            <a [routerLink]="['/shop','cup']" class="text-center">CHÉN</a>
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <a [routerLink]="['/shop','plate']" class="text-center">DĨA</a>
                          </li>
                          <li>
                        </ul>
                        <ul>
                          <li>
                            <a [routerLink]="['/shop','bowl']" class="text-center">TÔ</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li routerLink="/about" routerLinkActive="active" style="cursor: pointer">
                      <a>Về công ty</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Main Menu End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header Area End -->