<!-- Header Area Start -->
<div class="header">
  <!-- Header Top Start -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <!-- Header Top Phone and Email -->
          <div class="header-top-left fix">
            <div class="phone">
              <i class="fa fa-phone"></i>
              <span>(000) 123 288 456</span>
            </div>
            <div class="email">
              <i class="fa fa-envelope"></i>
              <a href="#">zackas@company.com</a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <!-- Header Top Social -->
          <div class="header-social">
            <a href="https://www.facebook.com" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
        <!--<div class="col-md-5 col-xs-12">
                         <div class="header-top-right">
                            <ul class="account">
                                <li><a href="#">My Account</a></li>
                            </ul>
                            <ul class="currency">
                                <li><a href="#" data-toggle="dropdown">$USD</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">URO</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                                </li>
                            </ul>
                            <ul class="language">
                                <li><a href="#" data-toggle="dropdown">English(UK)</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">French</a></li>
                                </ul>
                                </li>
                            </ul>
                        </div> -->
      </div>
    </div>
  </div>
  <!-- Header Top End -->
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="header-bottom-top col-sm-12">
          <div class="row">
            <div class="col-md-3 col-lg-4 col-xs-12">
              <!-- Header Logo -->
              <div class="logo">
                <a routerLink="/home">
                  <img src="../assets/img/logo.png" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-5 col-xs-12">
              <!-- Header Search and Cart -->
              <div class="header-search-cart">
                <div class="wrapper">
                  <div class="header-search fix">
                    <form action="#">
                      <div class="select-cat">
                        <select name="categorys">
                          <option value="volvo">All Category</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select>
                      </div>
                      <div class="input-filds">
                        <input type="text" placeholder="Search here..." />
                        <button class="submit">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                  <!-- Header Cart -->
                  <div class="header-cart">
                    <a routerLink="/cart">
                      <i class="fa fa-shopping-basket"></i>
                      <span>My cart 2 items</span>
                    </a>
                    <div class="header-cart-hover">
                      <ul class="header-cart-products">
                        <li>
                          <div class="image">
                            <a href="#">
                              <img src="../assets/img/cart/1.jpg" alt="cart item" />
                            </a>
                          </div>
                          <div class="content fix">
                            <a href="#">PRODUCT NAME</a>
                            <span class="price">1 X $130</span>
                          </div>
                          <i class="fa fa-times delete"></i>
                        </li>
                        <li>
                          <div class="image">
                            <a href="#">
                              <img src="../assets/img/cart/2.jpg" alt="cart item" />
                            </a>
                          </div>
                          <div class="content fix">
                            <a href="#">PRODUCT NAME</a>
                            <span class="price">2 X $130</span>
                          </div>
                          <i class="fa fa-times delete"></i>
                        </li>
                      </ul>
                      <div class="total-price">
                        <h3>Total Price
                          <span>$390</span>
                        </h3>
                      </div>
                      <div class="header-cart-action">
                        <a routerLink="/cart">
                          <i class="fa fa-shopping-cart"></i>
                          <span>View Cart</span>
                        </a>
                        <a href="checkout.html">
                          <i class="fa fa-sign-out"></i>
                          <span>Check Out</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Menu Area Start -->
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <!-- Main Menu Start -->
              <div class="main-menu hidden-sm hidden-xs">
                <nav>
                  <ul>
                    <li routerLink="/home" routerLinkActive="active" style="cursor: pointer">
                      <a>HOME</a>
                    </li>
                    <li routerLink="/about" routerLinkActive="active" style="cursor: pointer">
                      <a>ABOUT US</a>
                    </li>
                    <li routerLink="/shop" routerLinkActive="active" style="cursor: pointer">
                      <a>SHOP</a>
                      <div class="mega-menu">
                        <ul>
                          <li>
                            <a routerLink="/shop">Dresses</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Cocktail</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Day</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Evening</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Sweaters</a>
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <a routerLink="/shop">Accessories</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Lifestyle</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Bras</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Scarves</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Small Leathers</a>
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <a routerLink="/shop">Tops</a>
                          </li>
                          <li>
                            <a routerLink="/shop">T-Shirts</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Shrot Sleeved</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Sleeveless</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Evening</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a routerLink="/shop">MEN</a>
                      <div class="mega-menu">
                        <ul>
                          <li>
                            <a routerLink="/shop">Dresses</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Cocktail</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Day</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Evening</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Sweaters</a>
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <a routerLink="/shop">Accessories</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Lifestyle</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Bras</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Scarves</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Small Leathers</a>
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <a routerLink="/shop">Tops</a>
                          </li>
                          <li>
                            <a routerLink="/shop">T-Shirts</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Shrot Sleeved</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Sleeveless</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Evening</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a routerLink="/shop">WOMEN</a>
                      <div class="mega-menu">
                        <ul>
                          <li>
                            <a routerLink="/shop">Dresses</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Cocktail</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Day</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Evening</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Sweaters</a>
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <a routerLink="/shop">Accessories</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Lifestyle</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Bras</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Scarves</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Small Leathers</a>
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <a routerLink="/shop">Tops</a>
                          </li>
                          <li>
                            <a routerLink="/shop">T-Shirts</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Shrot Sleeved</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Sleeveless</a>
                          </li>
                          <li>
                            <a routerLink="/shop">Evening</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a routerLink="/shop">KIDS</a>
                    </li>
                    <li class="hot">
                      <a routerLink="/shop">NEW ARRIVAL</a>
                    </li>
                    <!-- <li><a href="blog.html">BLOG</a></li> -->
                    <li routerLink="/contact" routerLinkActive="active" style="cursor: pointer">
                      <a >CONTACT</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Main Menu End -->
              <!-- Mobile Menu Start -->
              <div class="mobile-menu">
                <nav class="hidden">
                  <ul>
                    <li class="active">
                      <a routerLink="/home">HOME</a>
                      <ul class="sub-menu">
                        <li>
                          <a routerLink="/home">HOME 1</a>
                        </li>
                        <li>
                          <a href="index-2.html">HOME 2</a>
                        </li>
                        <li>
                          <a href="index-3.html">HOME 3</a>
                        </li>
                        <li>
                          <a href="index-4.html">HOME 4</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/about">ABOUT US</a>
                    </li>
                    <li>
                      <a routerLink="/shop">SHOP</a>
                      <ul>
                        <li>
                          <a routerLink="/shop">Dresses</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Cocktail</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Day</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sweaters</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Accessories</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Lifestyle</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Bras</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Scarves</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Small Leathers</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Tops</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">T-Shirts</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Shrot Sleeved</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sleeveless</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/shop">MEN</a>
                      <ul>
                        <li>
                          <a routerLink="/shop">Dresses</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Cocktail</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Day</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sweaters</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Accessories</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Lifestyle</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Bras</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Scarves</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Small Leathers</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Tops</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">T-Shirts</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Shrot Sleeved</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sleeveless</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/shop">WOMEN</a>
                      <ul>
                        <li>
                          <a routerLink="/shop">Dresses</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Cocktail</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Day</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sweaters</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Accessories</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">Lifestyle</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Bras</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Scarves</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Small Leathers</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a routerLink="/shop">Tops</a>
                          <ul>
                            <li>
                              <a routerLink="/shop">T-Shirts</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Shrot Sleeved</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Sleeveless</a>
                            </li>
                            <li>
                              <a routerLink="/shop">Evening</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a routerLink="/shop">KIDS</a>
                    </li>
                    <li class="hot">
                      <a routerLink="/shop">NEW ARRIVAL</a>
                    </li>
                    <!-- <li><a href="blog.html">BLOG</a></li> -->
                    <li>
                      <a routerLink="/contact">CONTACT</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- Mobile Menu End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header Area End -->